


/* Main Content Area CSS */

#mainContentArea {
	font-family: Arial, Helvetica, sans-serif;
	color: #000000;
	width: 927px;
	padding-top: 30px;
	padding-right: 10px;
	padding-left: 10px;
	padding-bottom: 20px;
	text-align: left;
}

#mainContentArea a
{
	text-decoration:none;
	color: #FFFFFF;
}


#mainContentArea .section {
	background-image: url(../images/BG_section-bg.jpg);
	background-repeat: repeat-x;
	background-position: left top;
	padding-top: 12px;
	padding-right: 10px;
	padding-bottom: 15px;
	padding-left: 10px;
	text-align: left;
}

#mainContentArea .sectionTitle {
	font-size: 20px;
	padding-bottom: 15px;
	text-align: left;
}

#mainContentArea .sectionSubTitle {
	font-size: 14px;
	font-weight: bold;
	color: #3B4963;
	background-color: #E9E8DC;
	text-align: left;
	/*height: 24px;*/
	padding-left: 10px;
	padding-top: 12px;
	padding-bottom: 12px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #FFFFFF;
}

#mainContentArea hr {
	color: #E9E8DC;
	height: 1px;
	margin-bottom: 10px;
	background-color: #E9E8DC;
}

#mainContentArea .thickHR {
	color: #CDD1DA;
	height: 4px;
	background-color: #CDD1DA;
}

#mainContentArea .lrgBldText {
	font-size: 14px;
	font-weight: bold;
}

#mainContentArea .regBldText {
	font-size: 12px;
	font-weight: bold;
}

#mainContentArea .regText {
	font-size: 12px;
}

#mainContentArea .regBldBlueText {
	font-size: 12px;
	color: #3B4963;
	font-weight: bold;
}

#mainContentArea .regBldGreyText
{
	font-size: 12px;
	color: #6b696a;
	font-weight: bold;
}

#mainContentArea .lrgBldRedText {
	font-size: 14px;
	color: #FF3300;
	font-weight: bold;
}

#mainContentArea .regBldRedText {
	font-size: 12px;
	color: #FF3300;
	font-weight: bold;
}

#mainContentArea .hrBlueHeader
{
	font-size: 12px;
	font-weight: bold;
	color: #FFFFFF;
	background-color: #677388;
	padding-top: 2px;
	padding-bottom: 2px;
	padding-left: 8px;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #FFFFFF;
}

#mainContentArea .greyBorder
{
	border-right: dimgray 1px solid;
	border-top: dimgray 1px solid;
	border-left: dimgray 1px solid;
	border-bottom: dimgray 1px solid;
}

#mainContentArea .colorBorder
{
	border-right: tan 1px solid;
	border-top: tan 1px solid;
	border-left: tan 1px solid;
	border-bottom: tan 1px solid;
}


/**/

/* Data Output Tables */

#mainContentArea th {
	font-size: 12px;
	font-weight: bold;
	color: #FFFFFF;
	background-color: #677388;
	padding-top: 2px;
	padding-bottom: 2px;
	padding-left: 8px;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #FFFFFF;
	position: relative;
	top: expression(this.parentNode.parentNode.parentNode.scrollTop-1);
}

#mainContentArea .TDborder
{
	background-color: #F0EFE8;
	font-size: 12px;
	padding-left: 8px;
	padding-top: 4px;
	padding-bottom: 4px;
	padding-right: 4px;
	border-bottom-width: 2px;
	border-bottom-style: solid;
	border-bottom-color: #677388;
	border-right-width: 2px;
	border-right-style: solid;
	border-right-color: #677388;
	border-left-width: 2px;
	border-left-style: solid;
	border-left-color: #677388;
	
}

#mainContentArea .TDeven {
	background-color: #F0EFE8;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #C7BF9B;
	padding-left: 8px;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #FFFFFF;
	padding-left: 8px;
	font-size: 12px;
	padding-top: 8px;
	padding-bottom: 8px;
}

#mainContentArea .TDodd {
	padding-left: 8px;
	font-size: 12px;
	padding-top: 8px;
	padding-bottom: 8px;
	padding-left: 8px;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #FFFFFF;
}

#mainContentArea .Pages
{
	background-color: #CDD1DA;
	font-size: 10pt;
	font-weight: bold;
}

/* Form Table Rows */

#mainContentArea .evenTD {
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 12px;
	font-size: 12px;
	vertical-align: middle;
}

#mainContentArea .oddTD {
	background-color: #F3F2ED;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 12px;
	font-size: 12px;
	vertical-align: middle;
}
#mainContentArea .oddTD_Y {
	background-color: #F3F2ED;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 12px;
	font-size: 12px;
	vertical-align: middle;
	color:Yellow;
}

#mainContentArea .TDeven_low {
	background-color: #F0EFE8;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #C7BF9B;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #FFFFFF;
	padding-left: 8px;
	font-size: 12px;
	padding-top: 2px;
	padding-bottom: 3px;
}

#mainContentArea .TDodd_low {
	padding-left: 8px;
	font-size: 12px;
	padding-top: 2px;
	padding-bottom: 3px;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #FFFFFF;
}


/* Form CSS */

.FormCSS {
	margin: 0px;
}

.FormCSS .pulldown {
	font-size: 12px;
	color: #000000;
	height: 14px;
	border: 1px solid #9297B7;
	
}

.FormCSS .textfield {
    font-size: 12px;
	color: #000000;
	height: 14px;
	border: 1px solid #9297B7;
}

.FormCSS .textarea {
	font-size: 12px;
	color: #000000;
	height: 14px;
	border: 1px solid #9297B7;
	text-decoration: none;
}

/* buttons and icons */

.button, .buttonHover
{
	padding:2px;
	FONT-SIZE: 12px;
	WIDTH: auto;
	COLOR: #FFFFFF;
	TEXT-ALIGN: center;
	TEXT-DECORATION: none;
	border: 1px solid #3D4450;
	behavior:url(css/hover.htc)
}
.button
{
	background-color: #677388;
	cursor:default;
}
.buttonHover
{
	background-color: #3B4963;
	cursor:hand;
}

.icDetails
{
	cursor:default;
	behavior:url(css/hover_det.htc)
}
.icDetailsHover
{
	cursor:hand;
	behavior:url(css/hover_det.htc)
}

.icAssign
{
	cursor:default;
	behavior:url(css/hover_ass.htc)
}

.icAssignHover
{
	cursor:hand;
	behavior:url(css/hover_ass.htc)
}

.icView
{
	cursor:default;
	behavior:url(css/hover_view.htc)
}

.icViewHover
{
	cursor:hand;
	behavior:url(css/hover_view.htc)
}

.icAtt
{
	cursor:default;
	behavior:url(css/hover_att.htc)
}

.icAttHover
{
	cursor:hand;
	behavior:url(css/hover_att.htc)
}

.icDelete
{
	cursor:default;
	behavior:url(css/hover_del.htc)
}

.icDeleteHover
{
	cursor:hand;
	behavior:url(css/hover_del.htc)
}


/* Page Bottom */

#pageBottom {
	background-image: url(../images/BG_pageBottom.jpg);
	background-repeat: no-repeat;
	background-position: center top;
	height: 37px;
	width: 984px;
}
