/******** POP UP CSS **********/

body {
	margin: 0px;
}

#popup_enlarged {
	margin: 0px;
	/*width: 800px;*/
	/*border: 2px solid #333333;*/
	font-family: Arial, Helvetica, sans-serif;
}

#popup_enlarged .header {
	background-image: url(../images/BG_popup_header.jpg);
	height: 47px;
	width: 100%;
	background-repeat: repeat-x;
	background-position: left top;
}

#popup_enlarged .contentArea {
	padding: 14px;
}

#popup_enlarged .section {
	background-image: url(../images/BG_section-bg.jpg);
	background-repeat: repeat-x;
	background-position: left top;
	padding-top: 12px;
	padding-right: 10px;
	padding-bottom: 15px;
	padding-left: 10px;
	text-align: left;
	border-bottom-width: 4px;
	border-bottom-style: solid;
	border-bottom-color: #CDD1DA;
}

#popup_enlarged .sectionTitle {
	font-size: 18px;
	padding-bottom: 10px;
	text-align: left;
	color: #29354A;
}

#popup_enlarged .regBldText {
	font-size: 12px;
	font-weight: bold;
}

#popup_enlarged .lrgBldText {
	font-size: 14px;
	font-weight: bold;
}

#popup_enlarged .regBldGreyText
{
	font-size: 12px;
	color: #6b696a;
	font-weight: bold;
}

#popup_enlarged .lrgBldGrayText
{
	font-size: 14px;
	color: #6b696a;
	font-weight: bold;
}

#popup_enlarged .regBldBlueText {
	font-size: 12px;
	color: #3B4963;
	font-weight: bold;
}

#popup_enlarged .regText {
	font-size: 12px;
}

#popup_enlarged .regBlackText {
	font-size: 12px;
	color: Black ;
	font-weight :normal ;
}

#popup_enlarged .regBlueText
{
	font-size: 12px;
	color: blue;
	font-weight: normal;
}

#popup_enlarged .th
{
	font-size: 12px;
	font-weight: bold;
	color: #FFFFFF;
	background-color: #677388;
	padding-top: 2px;
	padding-bottom: 2px;
	padding-left: 8px;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #FFFFFF;
}

#popup_enlarged .TDeven
{
	background-color: #F0EFE8;
	border-bottom-width: 1px;
	border-bottom-style: solid; /*border-bottom-color: #C7BF9B;*/
	border-bottom-color: dimgray;
	padding-left: 2px;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #FFFFFF;
	padding-left: 2px;
	font-size: 12px;
	padding-top: 2px;
	padding-bottom: 2px;
}

#popup_enlarged .TDodd {
	padding-left: 2px;
	font-size: 12px;
	padding-top: 2px;
	padding-bottom: 2px;
	padding-left: 2px;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #FFFFFF;
}

#popup_enlarged a {
	color: #FFFFFF;
	text-decoration: none;
	font-weight: bold;
}

#popup_enlarged a:hover {
	color: #EBEBEB;
	text-decoration: none;
}

#popup_enlarged th {
	font-size: 12px;
	font-weight: bold;
	color: #FFFFFF;
	background-color: #677388;
	padding-top: 2px;
	padding-bottom: 2px;
	padding-left: 8px;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #FFFFFF;
	
}

#popup_enlarged .greyBorder
{
	border-right: dimgray 1px solid;
	border-top: dimgray 1px solid;
	border-left: dimgray 1px solid;
	border-bottom: dimgray 1px solid;
}

/* Form CSS */

.FormCSS {
	margin: 0px;
}

.FormCSS .pulldown {
	font-size: 12px;
	color: #000000;
	height: 14px;
	border: 1px solid #9297B7;
	
}

.FormCSS .textfield {
    font-size: 12px;
	color: #000000;
	height: 14px;
	border: 1px solid #9297B7;
}

.FormCSS .textarea {
	font-size: 12px;
	color: #000000;
	height: 14px;
	border: 1px solid #9297B7;
	text-decoration: none;
}

/*
.FormCSS .button {
	color: #FFFFFF;
	background-color: #677388;
	border: 1px solid #333333;
	font-weight: bold;
	text-align: center;
	padding-top: 2px;
	padding-bottom: 2px;
}*/

.doctypes
{
	overflow:scroll;
	height : 100px;
	
}

.button, .buttonHover
{
	padding:2px;
	FONT-SIZE: 12px;
	WIDTH: auto;
	COLOR: #FFFFFF;
	TEXT-ALIGN: center;
	TEXT-DECORATION: none;
	border: 1px solid #3D4450;
	behavior:url(../css/hover.htc)
}
.button
{
	background-color: #677388;
	cursor:default;
}
.buttonHover
{
	background-color: #3B4963;
	cursor:hand;
}