@model GSA.UnliquidatedObligations.Web.Models.UsersModel

@{
    ViewBag.Title = "Users";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Users</h2>

<div class="row user-options">
    <div class="col-md-3">
        @Html.LabelFor(model => model.RegionId, "Select Region:", htmlAttributes: new { @class = "control-label" })
        @Html.DropDownListFor(model => model.RegionId, Model.Regions, new { @class = "form-control" })
    </div>
</div>
@Html.Partial("_Data", Model.Users)


@Html.Partial("Edit/_Index")
