################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/OpenItems/Web.Release.config
/OpenItems/Web.Debug.config
/OpenItems/Web.config
**/bin/
**/obj/
.suo
*.cache
/ULO/src/GSA.UnliquidatedObligations.BusinessLayer/App.Config
/ULO/.vs/config/applicationhost.config