################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################


**/bin/
**/obj/
.suo
*.cache
/ULO/src/GSA.UnliquidatedObligations.BusinessLayer/App.Config
/ULO/.vs/config/application/host.config
**/PublishProfiles/
/ULO/src/GSA.UnliquidatedObligations.Web/Web.config
/ULO/src/GSA.UnliquidatedObligations.Web/Properties/PublishProfiles/
/ULO/src/GSA.UnliquidatedObligations.Web/MailDrop
/ULO/src/GSA.UnliquidatedObligations.Web/Content/DocStorage
