<?xml version="1.0" encoding="utf-8"?>
<!-- 
    Note: As an alternative to hand editing this file you can use the 
    web admin tool to configure settings for your application. Use
    the Website->Asp.Net Configuration option in Visual Studio.
    A full list of settings and comments can be found in 
    machine.config.comments usually located in 
    \Windows\Microsoft.Net\Framework\v2.x\Config 
-->
<configuration>
  <connectionStrings>
    <!-- Dev ConnString -->
    <add name="DefaultConn" providerName="System.Data.SqlClient" connectionString="server=server; database=database; User ID=userid; Password=password; Integrated Security=false" />
    <add name="DocsConn" providerName="System.Data.SqlClient" connectionString="server=server; database=database; User ID=userid; Password=password; Integrated Security=false" />
  </connectionStrings>
  <appSettings>
    <add key="DefaultConn" value="server=server; database=database; User ID=userid; Password=password; Integrated Security=false" />
    <add key="DocsConn" value="server=server; database=database; User ID=userid; Password=password; Integrated Security=false" />
    <!-- Default Application pages: -->
    <add key="OpenItemsDefaultPage" value="~/OpenItems/ReviewOpenItems.aspx" />
    <add key="FundStatusDefaultPage" value="~/FundStatus/FundSearch.asp+-x" />
    <!-- Use this key when application should be out of serevice: -->
    <add key="ApplicationDisabled" value="False" />
    <add key="DisabledMessage" value="The ULO application is under the maintenance. You will receive an email notification when the application access is restored." />
    <!-- Admin Page Rights, set value(s) to true if BDAdmins (OrgAdmins) should have access to Admin Page -->
    <add key="AdminPageRightsForBDAdmin" value="True" />
    <add key="AdminPageRightsForOrgAdmin" value="False" />
    <!-- Sys Admin role code -->
    <add key="SysAdminRoleCode" value="100" />
    <!-- Is "Password" menu visible? -->
    <add key="PasswordMenuIsVisible" value="true" />
    <!-- Is lblEnvironment active? -->
    <add key="lblEnvironmentIsActive" value="true" />
    <!-- this key for production DB server is used to check if the ULO Environment is production or test -->
    <add key="DatabaseServer1" value="server" />
    <!-- this key (for production db server alias) is used to check if the ULO Environment is production or test -->
    <add key="DatabaseServer2" value="server" />
    <!-- this key (for UAT db server)  -->
    <add key="DatabaseServerUAT" value="server" />
    <add key="ProdWebServerName" value="server" />
    <add key="ProdWebServerAlias" value="server" />
    <!-- Log File -->
    <add key="LogFileName" value="ULO_FS_ApplicationLog.txt" />
    <!-- use this flag to write into the log file additional history/debugging/comments-->
    <add key="WriteExtendedLog" value="false" />
    <!-- Upload Data from Excel -->
    <!--<add key="ExcelWorkSheetName_MainList"  value="[summary$]"  />-->
    <add key="ExcelWorkSheetName_MainList" value="[summary$]" />
    <add key="ExcelWorkSheetName_DetailsList" value="[detail$]" />
    <add key="ExcelWorkSheetName_FeedbackList" value="[Detail$]" />
    <add key="SQLTableNameForImport_MainList" value="tblMainForExcelImport" />
    <add key="SQLTableNameForImport_DetailsList" value="tblDetailsForExcelImport" />
    <add key="SQLTableNameForImport_FeedbackList" value="tblFeedbackForExcelImport" />
    <!-- Feedback load configuration -->
    <add key="FeedbackLoad_DO_UDO_Display" value="True" />
    <add key="FeedbackLoad_DO_UDO_Required" value="False" />
    <!-- Archiving load thru application interface -->
    <add key="DisplayArchiveOption" value="False" />
    <!-- History Log -->
    <add key="InsertHistory_OnSelectAttachmentToCO" value="True" />
    <add key="InsertHistory_OnSelectAttachmentToSME" value="True" />
    <!-- Automated BA61 Fund Status functionality -->
    <add key="RebuildReportIntervalInMinutes" value="20" />
    <add key="QueryResultMaxRecords" value="800" />
    <add key="ProjectionCalc_PaidDaysReference" value="113" />
    <add key="Default_BUDGET_ACTIVITY" value="PG61" />
    <!-- SMTP definitions -->
    <add key="SendEmail" value="true" />
    <add key="SendEmailToSysAdmin" value="False" />
    <add key="MailSenderAddress" value="email" />
    <add key="SMTPServer" value="smtp" />
    <add key="SysAdminEmail" value="adminEmail" />
    <!-- Emails functionality -->
    <add key="SendEmailOnRerouteRequest" value="True" />
    <add key="SendEmailOnRerouteAssign" value="True" />
    <add key="SendEmailOnAssignVerification" value="True" />
    <add key="SendEmailOnReviewerAssignment" value="True" />
    <add key="SendEmailOnReviewerReassign" value="True" />
    <add key="SendEmailOnGroupAssign" value="True" />
    <add key="SendEmailOnAllTypeOfAssignments" value="True" />
    <add key="SendEmailOnNewLoad" value="False" />
    <!-- Never change this value ! -->
    <add key="SendPasswordReminder" value="False" />
    <add key="ForgotPswdFile" value="\docs\ForgotPswdEmail.txt" />
    <add key="DueDateReminderFile" value="DueDateEmail.txt" />
    <!-- Email Subject for Sample Load activity -->
    <add key="Email_ToReviewerTextFile" value="\docs\SampleLoadEmailToReviewer.txt" />
    <add key="Email_COSubject" value="Region 11 - NCR Submission. Sample file from [p_LoadDate]. Supporting documentaion for DocNumber [p_DocNumber]." />
    <add key="Email_COEmailAddress" value="email" />
    <add key="Email_SMESubject" value="Sample file from [p_LoadDate]. Please review supporting documentaion for DocNumber [p_DocNumber]." />
    <add key="adPath" value="adPath" />
    <add key="DomainValue" value="domain" />
  </appSettings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5.1" />
      </system.Web>
  -->
  <system.web>
    <httpRuntime maxRequestLength="16384" />
    <sessionState timeout="60" cookieless="false" />
    <pages validateRequest="false" controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID" />
    <!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
    <compilation debug="true" defaultLanguage="c#" targetFramework="4.5.1">
      <assemblies>
        <add assembly="System.DirectoryServices, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Security, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
      
      </assemblies>
    </compilation>
    <!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
    <authentication mode="Forms">
      <forms name="OpenItems" loginUrl="Logon.aspx" protection="All" timeout="20" path="/" />
    </authentication>
    <authorization>
      <deny users="?" />
      <!--<allow users="*" />   <deny users="?" />-->
      <!--  <allow     users="[comma separated list of users]"
                             roles="[comma separated list of roles]"/>
                  <deny      users="[comma separated list of users]"
                             roles="[comma separated list of roles]"/>
            -->
    </authorization>
    <!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
  </system.web>
  <location path="HTTPLogon.aspx">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="FundStatus/AttReportExcel.aspx">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <runtime>
    <enforceFIPSPolicy enabled="false" />
  </runtime>
</configuration>