@model GSA.UnliquidatedObligations.Web.Models.FilterViewModel
@{
    this.SetTitles(PageKeys.Search, "Search");
    Layout = "~/Views/Shared/_Layout.cshtml";
    var modelFilter = Model;
}
<div>
    <partial name="Search/_Filtering" model=Model />
</div>
<div id="masterRecordsListing">
    @if (Model.HasFilters)
    {
        <div>
            <partial name="Search/_Data" model=Model.Workflows />
        </div>
    }
    else
    {
        <div class="noDataMessage">Please enter a search criteria then press the <span style="font-style: italic">Apply Filters</span> button.</div>
    }
</div>
