@model GSA.UnliquidatedObligations.Web.Models.FilterViewModel
@{
    this.SetTitles(PageKeys.Search, "Search");
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Html.Partial("~/Views/Ulo/Search/_Filtering.cshtml", Model)
<div id="masterRecordsListing">
    @if (Model.HasFilters)
    {
        @Html.Partial("~/Views/Ulo/Search/_Data.cshtml", Model.Workflows)
    }
    else
    {
        <div class="noDataMessage">Please enter a search criteria then press the <span style="font-style: italic">Apply Filters</span> button.</div>
    }
</div>
