@model GSA.UnliquidatedObligations.Web.Models.EditUserModel

<div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="editUserModalLabel">Edit @Model.UserName</h5>
        </div>
        <div id="editUserModalBody" class="modal-body">
            <div id="loadingUser">
                Loading User...
            </div>
            <div id="userBodyData">
                @Html.Partial("Edit/Body/_Body", Model.Body)
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary close-save-user" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary save-user">Save</button>
        </div>
    </div>
</div>