@model IEnumerable<GSA.UnliquidatedObligations.BusinessLayer.Data.Note>
 
<div class="row ulo-notes">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Notes</h3>
        </div>
        <div class="panel-body">
            <div class="row header col-md-8">
                <div class="col-md-4">Date</div>
                <div class="col-md-4">Person</div>
                <div class="col-md-4">Comment</div>
            </div>
            @foreach (var note in Model)
            {
                <div class="row col-md-8">
                    <div class="col-md-4">@note.Date</div>
                    <div class="col-md-4">@note.AspNetUser.UserName</div>
                    <div class="col-md-4">@note.NoteContents</div>
                </div>
            }
        </div>
    </div>
</div>