@model GSA.UnliquidatedObligations.Web.Models.WorkflowViewModel

@if (Model.Workflow.AspNetUser.UserType == "Group")
{
    <h3>@Html.Encode("Unassigned")</h3>
}
else
{
    <h3>@Html.Encode("Currently assigned to " + Model.Workflow.AspNetUser.UserName)</h3>
}

@Html.Partial("Details/Workflow/RequestForReassignments/_ReassignButton", Model)


