@using GSA.UnliquidatedObligations.Web.Models
@model GSA.UnliquidatedObligations.Web.Models.EditUserModel

<form name="editUserForm">
    <div class="modal fade edit-user-modal" id="editUserModal" tabindex="-1" role="dialog" aria-labelledby="editUserModal" aria-hidden="true">
        <div id="editUserModalOuterContainer">
            @Html.Partial("Edit/Body/_Index", Model)
        </div>
    </div>
</form>
