@using GSA.UnliquidatedObligations.Web.Models

<form name="editUserForm">
    <div class="modal fade edit-user-modal" id="editUserModal" tabindex="-1" role="dialog" aria-labelledby="editUserModal" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="editUserModalLabel">Edit User</h5>
                </div>
                <div id="editUserModalBody" class="modal-body">
                    <div id="loadingUser">
                        Loading User...
                    </div>
                    <div id="userBodyData">
                        @Html.Partial("Edit/Body/_Index", new EditUserModel())
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary save-user">Save</button>
                </div>
            </div>
        </div>
    </div>
</form>
