@using GSA.UnliquidatedObligations.Web.Models
@model CreateUserModel

<div class="panel panel-default">
    <div class="panel-heading">
        <h4 class="panel-title">Subject Category Claims</h4>
    </div>
    <div class="panel-body">
        <div class="form-group subject-category-claims">
            <div class="row">

                <div class="col-md-3">
                    <label class="control-label">Doc Type</label>
                </div>
                <div class="col-md-3">
                    <label class="control-label">BA Code</label>
                </div>

                <div class="col-md-3">
                    <label class="control-label">Org Code</label>
                </div>
            </div>
            @foreach (var claim in Model.SubjectCategoryClaims ?? Enumerable.Empty<EditSubjectPermissionClaimModel>())
            {
                @Html.Partial("Edit/Body/SubjectCategories/_SubjectCategory", claim)

            }

        </div>
        <button type="button" class="btn add-subject-category">Add Subject Category Claim</button>
    </div>

</div>
