<button id="showFilters" type="button" class="btn show-filters">
    Show Filters
</button>


<table class="table filter-region-workflows" id="filterRegions">
    <tr>
        <td><label for="pdn">PDN:</label></td>
        <td><input type="text" name="pdn" id="pdn" /></td>
        <td><label for="organization">Organization:</label></td>
        <td><input type="text" name="organization" id="organization" /></td>
    </tr>
    <tr>
        <td colspan="4">
            <button id="filterWorkflows" type="button" class="btn btn-primary">
                Apply Filters
            </button>
        </td>
    </tr>
</table>
<br />
<br />
