@model GSA.UnliquidatedObligations.Web.Models.FilterViewModel

<h2>Workflows</h2>
@Html.Partial("~/Views/Ulo/Search/_Filtering.cshtml", Model)
<div id="masterRecordsListing">
    @Html.Partial("~/Views/Ulo/Search/_Data.cshtml", Model.Workflows)
</div>
