.row.advance select {
    margin: 7px 0 0 7px;
}

.justification-other {
    margin-top: 3px;
}

.row.advance .row {
    padding: 0 20px;
}

.row.advance .form-horizontal .col-md-3,
.row.advance .form-horizontal .col-md-12 {
    padding-left: 0;
}

.row.advance textarea {
    padding: 2px 15px 2px 2px;
}

.row.advance select, .row.advance textarea {
    max-width: 900px;
}

.row.advance .form-horizontal .control-label {
    text-align: left;
    padding-left: 0;
}

.row.advance .form-horizontal .col-md-3 .control-label,
.row.advance .form-horizontal .col-md-12 .control-label {
    padding-left: 5px;
}

.row.advance .form-horizontal .row-space-top {
    margin-top: 36px;
}

.row.advance input[type="text"] {
    max-width: 100%;
    margin-top: 3px;
}
