/*! reassignment.css */
.requestForReassignModal select.col-md-8 {
    padding: 0;
}

.requestForReassignModal textarea.col-md-8 {
    padding: 2px 15px 2px 2px;
}

.requestForReassignModal label.col-md-4 {
    text-align: right;
}
