@model GSA.UnliquidatedObligations.Web.Models.UloViewModel

<div class="container-fluid row">
    <div class="row">
        <partial name="Details/Workflow/_Questions" model=Model.WorkflowViewModel.QuestionsViewModel />
    </div>
</div>

<div class="container-fluid row">
    <div class="row advance">
        @if (Model.WorkflowViewModel.WorkflowAssignedToCurrentUser && Model.WorkflowViewModel.AdvanceViewModel.QuestionChoices.Count > 0)
        {
            <div class="col-sm-6" style="padding-left:0px">
                <partial name="Details/Workflow/_Advance" model=Model.WorkflowViewModel.AdvanceViewModel />
            </div>
            <div class="col-sm-6" style="padding-right:0px">
                <partial name="Details/_FinancialActivities" model=Model.CurretUnliquidatedObligation />
            </div>
        }
        else
        {
            <partial name="Details/_FinancialActivities" model=Model.CurretUnliquidatedObligation />
        }
    </div>
</div>
