
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Reviews</h2>

<table class="table table-responsive">
    <tr>
        <th>
            Review Name
        </th>
        <th>
            Type Of Review
        </th>
        <th>
            Status
        </th>
        <th>
            Number of Ulos Reviewed
        </th>
        <th>
            Number of Total Items
        </th>
        <th>
            Completion Percentage
        </th>
        <th>
           Region With Most Outstanding
        </th>

    </tr>

    <tr>
        <td>
            <a>High Risk 2017 Q2</a>
        </td>
        <td>
            High Risk
        </td>
        <td>
            Open
        </td>

        <td>
            221
        </td>
        <td>
            330
        </td>
        <td>
            67%
        </td>
        <td>
            4
        </td>
    </tr>
    <tr>
        <td>
            <a>High Risk 2017 Q1</a>
        </td>
        <td>
            High Risk
        </td>
        <td>
            Open
        </td>

        <td>
            67
        </td>
        <td>
            300
        </td>
        <td>
            22.3%
        </td>
        <td>
            4
        </td>
    </tr>

</table>

