body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.row.header {
    font-weight: bold;
}


.fa-chevron-left, .fa-chevron-right, .fa-ellipsis-h {
    cursor: pointer;
}

.fa-chevron-left, .fa-chevron-right {
    margin-left: 3px;
    margin-right: 3px;
}

.fa-chevron-left.inactive, .fa-chevron-right.inactive {
    color: #e8e8e8 !important;
}

.table-controls {
    list-style-type: none;
    margin-bottom: 0;
    padding: 10px;
}

.table-controls li {
    display: inline-block;
    margin-right: 15px;
}
