/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */
body {
    padding-top: 50px;
    padding-bottom: 20px;
    /*required for footer pinning*/
    min-height: 100vh;
    position: relative;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.footer {
    width: 100%;
    line-height: 60px;
    border-top: 10px solid #af3639;
    background: #efeadf;
    position: absolute;
    bottom: 0;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

#footer-site {
    padding-left: 10px;
    width: 100%;
    line-height: 60px;
    border-top: 10px solid #af3639;
    background: #efeadf;
    position: absolute;
    bottom: 0;
}

@keyframes spin {
    from {
        transform: scale(1) rotate(0deg);
    }

    to {
        transform: scale(1) rotate(360deg);
    }
}

.note {
    margin-top: 20px;
    width: 100%;
}

.note-creator {
    font-weight: bold;
}

button.multiselect {
    border-color: black;
}

.vertical-align {
    display: flex;
    align-items: center;
}


.glyphicon-refresh-animate {
    -animation: spin .7s infinite linear;
    -webkit-animation: spin2 .7s infinite linear;
}

.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.row.header {
    font-weight: bold;
}


.fa-chevron-left, .fa-chevron-right, .fa-ellipsis-h {
    cursor: pointer;
}

.fa-chevron-left, .fa-chevron-right {
    margin-left: 3px;
    margin-right: 3px;
}

    .fa-chevron-left.inactive, .fa-chevron-right.inactive {
        color: #e8e8e8 !important;
    }

.table-controls {
    list-style-type: none;
    margin-bottom: 0;
    padding: 10px;
}

    .table-controls li {
        display: inline-block;
        margin-right: 15px;
    }

a.current {
    color: white;
    text-decoration: underline;
}

h1.navbar-brand {
    margin-top: 0;
    margin-bottom: 0;
}



#footer-menu {
    padding-left: 0;
}

    #footer-menu li {
        display: inline-block;
    }

        #footer-menu li a {
            display: block;
            color: #000;
            padding: 25px 20px;
        }

.form-row:after {
    content: "\00a0"
}

.huh {
    background-color: yellow;
    color: black;
    font-weight: bold;
}

.panel-title, .modal-title {
    font-size: 18px;
    font-weight: bold;
}

.wordBreaker {
    font-size: 1px;
}

.modal-dialog {
    width: 640px;
}

.noDataMessage {
    font-size: 16px;
    font-style: italic;
}


.dl-horizontal-middle {
    margin-bottom: 0;
}

    .dl-horizontal-middle dt {
        display: table-cell;
        vertical-align: middle;
        padding-right: 5px;
    }

    .dl-horizontal-middle dd {
        display: table-cell;
        vertical-align: middle;
    }

.table tr:not(:first-of-type):hover {
    background-color: #8fc7ea;
}

table.active-workflows tr:not(.viewed) td {
    color: blue;
    font-weight: bold;
}

    table.active-workflows tr:not(.viewed) td a {
        color: blue !important;
        font-weight: bold;
    }

div.header {
    font-weight: bold;
    color: black;
    background-color: #ddd;
}

div.advanced-search-settings {
    Zbackground-color: cyan;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 0;
}

.advanced-search-settings label {
    display: inline;
    Zbackground-color: aquamarine;
}

.advanced-search-settings .row {
    height: 35px;
    Zbackground-color: antiquewhite;
}

.advanced-search-settings div.row div {
    text-align: right;
    Zbackground-color: pink;
}

.advanced-search-settings .row:last-child {
    padding-bottom: 0px;
}

.advanced-search-settings select {
    height: 25px;
    width: 175px;
    border-radius: 0;
    border-color: black;
    display: inline-block;
    padding: 0;
}

.advanced-search-settings input[type="text"] {
    height: 25px;
    width: 175px;
    border: 1px solid black;
    padding: 0;
}

.advanced-search-settings input[type="checkbox"].standalone {
    height: 25px;
    width: 25px;
    border: 1px solid black;
    margin: 0px 150px 0px 0px;
    padding: 0;
}


