<div class="alert alert-danger" role="alert">
    <h4 class="alert-heading">Not Authorized</h4>
    While you have successfully authenticated your identity as @User?.Identity?.Name, you have not been granted access to use this ULO application.  To gain access, please contact the application's <a href="mailto:@PortalHelpers.AdministratorEmail">administrator</a>.
</div>