@using Microsoft.AspNetCore.Identity
@inject SignInManager<AspNetUser> SignInManager
@inject UloUserManager UserManager
@inject IOptions<AccountController.Config> AccountControllerConfigOptions

@if (SignInManager.IsSignedIn(User))
{
        <ul class="nav navbar-nav navbar-right">
            <li>
                <a>Hello @UserManager.GetUserName(User)!</a>
            </li>
            @if (AccountControllerConfigOptions.Value.UseDevAuthentication)
            {
        <li>
            <form asp-area="Identity" asp-controller="@AccountController.Name" asp-action="@AccountController.ActionNames.Logout" method="post" id="logoutForm" class="navbar-right">
                <button type="submit" class="btn btn-link navbar-btn navbar-link">Logout</button>
            </form>
        </li>
            }
        </ul>
}
else if (!PortalHelpers.HideLoginLinks(ViewBag))
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Log in", AccountController.ActionNames.Login, AccountController.Name)</li>
    </ul>
}