@model GSA.UnliquidatedObligations.Web.Models.DocumentsViewModel

<div id="document-edit-modals">
    @foreach (var document in Model.Documents)
    {
        <div id="modal-container-@document.DocumentId">
            @{
                Html.RenderAction("View", "Documents", new { documentId = document.DocumentId, allowDocumentEdit = Model.AllowDocumentsEdit });
            }
            
        </div>
    }
</div>

@{
    Html.RenderAction("View", "Documents", new { documentId = 0, allowDocumentEdit = true });
}
