<script type="text/javascript" later>
    var currentNoteUloId = null;
    var currentNotePdn = null;
    var currentNoteCountSelector = null;
    function ignoreEvent(e) {
        event.cancelBubble = true;
        event.preventDefault();
        return false;
    }
    function closeNotesPanel() {
        $("#panel-notel").css("display", "none");
        currentNoteUloId = null;
    }
    function openNotesPanel(uloId, pdn, noteCountSelector) {
        currentNoteUloId = uloId;
        currentNotePdn = pdn;
        if (noteCountSelector != null) {
            currentNoteCountSelector = noteCountSelector;
        }
        $("#panel-notes-body-create-body").val("");
        $("#note-context").text("for " + pdn);
        $("#panel-notes-spinner").css("display", "");
        $("#panel-notes-body").css("display", "none");
        $("#panel-notel").css("display", "");
        getNotes(uloId, function (data) {
            var h = "";
            for (ni in data) {
                var n = data[ni];
                h += "<div class='note' id='note" + n.NoteId + "'><span class='note-creator'>" + n.CreatedBy + "</span> - <span class='note-created'>" + n.CreatedAt + "</span><div class='note-body'></div></div>";
            }
            $("#panel-notes-body-listing").html(h);
            for (ni in data) {
                var n = data[ni];
                $("#note" + n.NoteId + " div.note-body").text(n.Body);
            }
            $("#panel-notes-spinner").css("display", "none");
            $("#panel-notes-body").css("display", "");
            $(currentNoteCountSelector).text(data.length);
        });
    }
    function createNote() {
        var body = $("#panel-notes-body-create-body").val();
        $("#panel-notes-body-create-body").val("");
        $.ajax({
            type: "POST",
            contentType: "application/json",
            url: "/ulos/" + currentNoteUloId + "/notes/create",
            data: JSON.stringify({ body: body }),
            success: function (result) {
                openNotesPanel(currentNoteUloId, currentNotePdn);
            },
            error: standardAjaxErrorHandler
        });
        return false;
    }
</script>

<div id="panel-notel" style="height:100%; width: 100%; position:fixed; top: 0px; left: 0px; z-index:10000; background-color: rgba(0,0,0,0.4); display:none" onclick="closeNotesPanel()">
    <div class="panel panel-default" style="height:100%; position:fixed; top: 0px; right: 0px; width: 400px;" onclick="ignoreEvent(event)">
        <div class="panel-heading" style="zbackground-color:pink">
            <h3 class="panel-title">
                Notes <span id="note-context"></span> <span style="float:right; position:relative; cursor: pointer;" title="Close" onclick="closeNotesPanel()">&times;</span>
            </h3>
        </div>
        <div class="panel-body" style="overflow-y:scroll; position: fixed; top: 41px; bottom: 0px; zbackground-color:yellow; width: 400px">
            <div style="text-align:center; width:100%; zoom: 500%" id="panel-notes-spinner">
                <span class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span>
            </div>
            <div id="panel-notes-body" style="display:none">
                <div id="panel-notes-body-create" style="zbackground-color:green">
                    <textarea style="width:100%; display:block;max-width:1000px;margin-bottom:10px" rows="3" id="panel-notes-body-create-body"></textarea>
                    <button class="btn btn-default btn-primary" onclick="createNote()">Create</button>
                </div>
                <div id="panel-notes-body-listing" style="zbackground-color:purple">
                </div>
            </div>
        </div>
    </div>
</div>
