@using GSA.UnliquidatedObligations.Web.Controllers

<script type="text/javascript" later>
    function showBulkReassignmentsLoading() {
        $("#bulkReassignmentDialogTitle").text("Bulk Reassignments Loading...");
        $(".bulkReassignmentsLoading").css("display", "");
        $(".bulkReassignmentsLoaded").css("display", "none");
    }
    function fillBulkReassignments(workflowIds, reassigners) {
        $(".bulkReassignmentsLoading").css("display", "none");
        $(".bulkReassignmentsLoaded").css("display", "");
        $("#bulkReassignmentDialogTitle").text("Bulk Reassignment for " + workflowIds.length + " items");
        $("#bulkReassignWorkflowIds").val(JSON.stringify(workflowIds));
        var jsel = $("#bulkReassignSuggestedReviewerId");
        var select = jsel[0];
        while (select.childElementCount > 1) {
            select.removeChild(select.lastChild);
        }
        for (x in reassigners) {
            var item = reassigners[x];
            //            alert(JSON.stringify(item));
            var html = "<option value='" + item.UserId + "'>" + item.UserName + "</option>";
            //          alert(html);
            jsel.append($(html));
        }
    }
</script>

<form asp-action="@RequestForReassignmentsController.ActionNames.BulkReassign" asp-controller="@RequestForReassignmentsController.Name" method="post">
    @Html.AntiForgeryToken()
    <div class="modal fade requestForReassignModal" id="bulkReassignmentDialog" tabindex="-1" role="dialog" aria-labelledby="bulkReassignmentDialogTitle" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="bulkReassignmentDialogTitle">Bulk Reassignment</h5>
                </div>
                <div class="modal-body loading bulkReassignmentsLoading">
                    Loading...
                </div>
                <div id="bulkReassignmentDialogBody" class="modal-body loaded bulkReassignmentsLoaded">
                    <div class="form-group">
                        <label for="bulkReassignSuggestedReviewerId">Assign to Reviewer:</label><br />
                        <select name="SuggestedReviewerId" class="form-control" id="bulkReassignSuggestedReviewerId">
                            <option disabled="disabled" selected="selected">@AspHelpers.PleaseSelectOne</option>
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="bulkReassignComments">Comments:</label>
                        <textarea class="form-control" rows="4" cols="20" id="bulkReassignComments" name="Comments"></textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <input type="hidden" name="WorkflowIds" id="bulkReassignWorkflowIds" />
                    <button type="submit" class="btn btn-primary bulkReassignmentsLoaded">Reassign</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</form>