@model IEnumerable<GSA.UnliquidatedObligations.BusinessLayer.Data.ListableWorkflows_Result0>
@using GSA.UnliquidatedObligations.Web;

@{
    this.SetTitles(PageKeys.MyTasks, "My Tasks");
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    <div>
        <partial name="_ListableWorkflowsListing" model=Model />
    </div>
@*@await Html.PartialAsync("~/Views/Ulo/_ListableWorkflowsListing.cshtml", Model)*@
