div.advanced-search-settings {
    Zbackground-color: cyan;
}

.advanced-search-settings .row {
    padding-bottom: 10px;
}

.advanced-search-settings .row:last-child {
    padding-bottom: 0px;
}

.advanced-search-settings select {
    height: 26px;
    padding: 3px 12px;
    width: 174px;
    border-radius: 0;
    border-color: black;
    display: inline-block;
}

.advanced-search-settings input[type="text"] {
    width: 174px;
    border: 1px solid black;
}

.advanced-search-settings input[type="checkbox"] {
    height: 26px;
    width: 26px;
    border: 1px solid black;
}

.advanced-search-settings label {
    text-align: right;
    width: 100%;
}
