.show-filters {
    width: 104px;
}

.filter-region-workflows {
    margin: 3px 0;
}

.filter-region-workflows select {
    height: 26px;
}

.filter-region-workflows label {
    text-align: right;
}


.filter-region-workflows td {
    border-top: none !important;
}

.filter-region-workflows td.label-container {
    text-align: right;
}