#requestForReassignModal #requestForReassignBody select.col-md-8 {
    padding: 0;
}

#requestForReassignModal #requestForReassignBody textarea.col-md-8 {
    padding: 2px 15px 2px 2px;
}

#requestForReassignModal #requestForReassignBody label.col-md-4 {
    text-align: right;
}