.row.workflow-description ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    list-style-image: none;
}

.row.workflow-description li {
    float: left;
    margin: 20px 0;
}

    .row.workflow-description li div.activity {
        margin: 0 4px;
        color: #eee;
        padding: 10px 20px;
        background: #8aa3cd;
        font-size: 16px;
        font-weight: bold;
        border-radius: 5px;
        width: 168px;
        text-align: center;
        vertical-align: middle;
    }

        .row.workflow-description li div.activity.current {
            background: #3c66ad;
        }
