@using GSA.UnliquidatedObligations.Web.Models

<form name="createUserForm">
    <div class="modal fade create-user-modal" id="createUserModal" tabindex="-1" role="dialog" aria-labelledby="createUserModal" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="createUserModalLabel">Create User</h5>
                </div>
                <div id="createUserModalBody" class="modal-body">
                    <div id="loadingUser">
                        Loading User...
                    </div>
                    <div id="userBodyData">
                        @Html.Partial("Create/Body/_Index", new CreateUserModel())
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="create-error-msg">This is an Errors</div>
                    <button type="button" class="btn btn-secondary close-save-user" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary save-new-user">Save</button>
                </div>
            </div>
        </div>
    </div>
</form>
