<h3>National ULO Database:</h3>  The Unliquidated Obligation (ULO) Database is a web-based application used by the General Services Administration (GSA), Office of the Chief Financial Officer and Public Buildings Service to automate and manage semi-annual and high risk ULO audit reviews, storing all ULO review data nationwide.  The ULO database standardizes the method for collecting review results and provides the ability to:
<ul>
    <li>Automate audit sample generation.</li>
    <li>Automate reviewer notifications.</li>
    <li>Centrally maintain ULO validations, justifications and supporting documentation reducing the risk of lost or missing documents.</li>
    <li>Automate workflow and document status tracking.  ULO validations and documentation are reviewed in real time and immediately sent to the next level for approval.  Requests for additional explanation and documentation are automatically sent back to reviewers through database notifications.</li>
    <li>Store all regional points of contact including: Regional Reviewers (BR Budget Analysts and PBS staff), Regional Approvers (ULO Coordinators) and Central Office Reviewers (BG staff).</li>
    <li>Increase transparency in the process and increase resource sharing across zones.</li>
    <li>Generate status reports during the review, document review processing times and provide summary reports on audit results.</li>
</ul>
<h3>Unliquidated Obligation Reviews:</h3>
Periodic unliquidated obligation reviews allow GSA to validate outstanding balances on our obligations and ensure they agree with supporting agency records.  The CFO PBS Financial Services Division (BGP) is responsible for conducting two semi-annual ULO reviews and three high risk ULO reviews each year.  Reviews are coordinated through the CFO Office of Regional Financial Services.  Review results are shared with GSA’s independent financial auditor as part of the annual financial statement audit.

