@using Microsoft.AspNet.Identity
@using GSA.UnliquidatedObligations.Web.Controllers;
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()
        <ul class="nav navbar-nav navbar-right">
            <li>
                @if (PortalHelpers.UseDevAuthentication)
                {
                    @Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
                }
                else
                {
                    <a href="#">Hello @User.Identity.GetUserName()</a>
                }
            </li>
            <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
        </ul>
    }
}
else if (!PortalHelpers.HideLoginLinks(ViewBag))
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Log in", AccountController.ActionNames.Login, AccountController.Name)</li>
    </ul>
}
