@model GSA.UnliquidatedObligations.Web.Models.WorkflowViewModel

@if (Model.Workflow.AspNetUser.UserType == "Group")
{
    <h3>@Html.Encode("Unassigned")</h3>
}
else
{
    <h3>@Html.Encode("Currently assigned to " + Model.Workflow.AspNetUser.UserName)</h3>
}

<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#requestForReassignModal">
    @if (!Model.RequestForReassignmentsActive)
    {
        @Html.Encode("Request Reassignment");
    }
    else
    {
        @Html.Encode("Active Reassignment Request");
    }

</button>

