@model GSA.UnliquidatedObligations.Web.Models.UloWfQuestionsViewModel
@* TODO: Need to add more styling for responsiveness  *@
<div class="row workflow-questions">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Workflow Questions</h3>
        </div>
        <div class="panel-body table-responsive">
            <div class="row header">
                <div class="col-md-2">Person</div>
                <div class="col-md-2">Answer</div>
                <div class="col-md-4">Justification</div>
                <div class="col-md-4">Comments</div>
            </div>
            @foreach (var question in Model.Questions)
            {
                <div class="row">
                    <div class="col-md-2">@question.AspNetUser.UserName</div>
                    <div class="col-md-2">@question.Answer</div>
                    <div class="col-md-4">@question.Justification</div>
                    <div class="col-md-4">@question.Comments</div>
                </div>
            }
        </div>

    </div>
</div>
