@model GSA.UnliquidatedObligations.Web.Models.UserModel
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.SubmitButtonText = "Submit";
}

<h2>Create New User</h2>

@Html.PartialAsync("~/Views/Users/_Details.cshtml", Model)
